#cargando {
    display: none;
}

body {
    background-color: rgb(209, 205, 205);
}

img {
    max-width: 100%;
    height   : auto;
}

.payment-info {
    background: #741817;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold
}


.container .row .navbar .navbar-brand{
    position:absolute;
    left:0;
    margin: auto;
    width: 100%;
    text-align:center;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2em;
    line-height: inherit;
    white-space: nowrap;
}
